*
{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

img
{
    width: 100%;
}
body
{
    background-color: #3A3A3A;
}
  
.a-enter-vr
{
    display: none;
}

#botonAnim
{
  background-color: #6ba2b8;
  display: none;
}
#botonTexture
{
  background-color: #7987d6;
  display: none;
}
#botonSound
{
  background-color: #a783e0;
  display: none;
}
#botonText
{
  background-color: #83d3d6;
}

.buttonContainer
{
    position: fixed;
    z-index: 1;
}

.botones
{
    max-width: 150px;
    min-width: 100px;
    border-radius: 0.5rem;
}

.textContainer
{
    padding-top: 5px;
    text-align: center;
    color:white;
    font-size: 1rem;
    background-color: #272727;
    position: fixed;
    z-index: 2;
    display: none;
}
.textoBoton
{
    text-align: left;
}
#botonText2
{
    padding: 0.5rem;
}

a-scene
{
    z-index: 0;
    position: fixed;
}